@import '../../base.scss';

.videoMetaData{

    &__top{
        span{
            cursor: pointer;
        }
    }

    &__channel{
        border-top: 0.2px solid $border-color;
        border-bottom: 0.2px solid $border-color  ; 
        

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 20px;
        }

        button{
            background-color: red;
            color: #fff;
            border-radius: 3px;
            text-transform: uppercase;
            &:hover{
                color: #fff;
                background-color:red;
    
            }
            &:focus{
                border: 0;
                outline: none;
            }
        }
    }

    &__description{
        font-size: 1rem;
        white-space: pre-line;
        border-bottom: 0.2px solid $border-color;


        .ShowMoreText{
            text-decoration: none;
            display: block;
            margin: 1rem 0;
            color: #fff;
            cursor: pointer;
            font-weight: 500;
        }
    }

}


